# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Git
.git/
.gitignore

# Conda
.anaconda/
.env

# OS junk
.DS_Store

# ML artifacts (if generated locally)
*.pkl
*.joblib
*.h5
*.pt

# Tests / caches
.pytest_cache/
.mypy_cache/
